hash/1.0/hashtable_measure_count.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Peter Schut (Agriculture & Agri-Food Canada) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- =============================================================
		simple elements 
	============================================================== -->
	<xs:element name="Abstract" type="xs:string"/>
	<xs:element name="AttributeName" type="xs:string"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="Documentation" type="xs:anyURI"/>
	<xs:element name="Identifier" type="xs:string"/>
	<xs:element name="Key" type="xs:string"/>
	<xs:element name="Title" type="xs:string"/>
	<xs:element name="GE" type="xs:string"/>
	<xs:element name="LT" type="xs:string"/>
	<xs:element name="Value" type="xs:string"/>
	<!-- =============================================================
		simple base types
	============================================================== -->
	<xs:element name="Hash">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Title"/>
				<xs:element ref="Description"/>
				<xs:element name="KeyDescriptions" type="KeyDescriptionsType"/>
				<xs:element name="ValueDescription" type="ValueDescriptionType"/>
				<xs:element name="Mapping" type="MappingTableType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- =========================================================== -->
	<xs:complexType name="KeyDescriptionsType">
		<xs:sequence>
			<xs:element name="Attribute" type="KeyAttributeType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="KeyAttributeType">
		<xs:sequence>
			<xs:element ref="AttributeName"/>
			<xs:element ref="Title"/>
			<xs:element ref="Description"/>
			<xs:element ref="Documentation"/>
			<xs:element name="Values" type="KeyValuesType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="KeyValuesType">
		<xs:choice>
			<xs:element name="Count" type="CountType"/>
			<xs:element name="Measure" type="MeasureType"/>
		</xs:choice>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="CountType">
		<xs:sequence/>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="http://www.w3.org/TR/xmlschema-2/#integer"/>
					<xs:enumeration value="http://www.w3.org/TR/xmlschema-2/#decimal"/>
					<xs:enumeration value="http://www.w3.org/TR/xmlschema-2/#float"/>
					<xs:enumeration value="http://www.w3.org/TR/xmlschema-2/#double"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="length" type="xs:nonNegativeInteger" use="required"/>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="MeasureType">
		<xs:sequence>
			<xs:element name="UOM" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="http://www.w3.org/TR/xmlschema-2/#decimal"/>
					<xs:enumeration value="http://www.w3.org/TR/xmlschema-2/#float"/>
					<xs:enumeration value="http://www.w3.org/TR/xmlschema-2/#double"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="length" type="xs:nonNegativeInteger" use="required"/>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="MappingTableType">
		<xs:sequence>
			<xs:element name="Range" type="RangeType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="RangeType">
		<xs:sequence>
			<xs:element ref="GE"/>
			<xs:element ref="LT"/>
			<xs:element ref="Value"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="ValueDescriptionType">
		<xs:sequence>
			<xs:element name="Attribute" type="ValueAttributeType"/>
		</xs:sequence>
		<!-- =========================================================== -->
	</xs:complexType>
	<xs:complexType name="ValueAttributeType">
		<xs:sequence>
			<xs:element ref="AttributeName"/>
			<xs:element ref="Title"/>
			<xs:element ref="Description"/>
			<xs:element ref="Documentation"/>
			<xs:element name="Values" type="ValueValuesType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="ValueValuesType">
		<xs:sequence>
			<xs:element name="Ordinal" type="OrdinalType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="OrdinalType">
		<xs:sequence>
			<xs:element name="Classes" type="OrdinalClassesType"/>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:anyURI">
					<xs:enumeration value="http://www.w3.org/TR/xmlschema-2/#string"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="length" type="xs:string" use="required"/>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="OrdinalClassesType">
		<xs:choice>
			<xs:element name="Value" type="OrdinalValueType" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="OrdinalValueType">
		<xs:complexContent>
			<xs:extension base="NominalValueType">
				<xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="NominalValueType">
		<xs:sequence>
			<xs:element ref="Identifier"/>
			<xs:element ref="Title"/>
			<xs:element ref="Abstract"/>
			<xs:element ref="Documentation"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
