bias/1.0/bias.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by Peter Schut (Agriculture Canada) -->
<!--W3C Schema generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Value">
		<xs:complexType>
			<xs:attribute name="rank" type="xs:integer" use="required"/>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="tip" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Title" type="xs:string"/>
	<xs:element name="Parameter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Value" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ramp" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Bias">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Title"/>
				<xs:element ref="Abstract"/>
				<xs:element ref="Parameter"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Abstract" type="xs:string"/>
</xs:schema>
