hash/1.0a/hashtable_old.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- =============================================================
		simple elements 
	============================================================== -->






	<!-- =============================================================
base this on the GDAS schema!!!!!!!!!!!!
	============================================================== -->






	<xs:element name="Abstract" type="xs:string"/>
	<xs:element name="AttributeName" type="xs:string"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="Documentation" type="xs:anyURI"/>
	<xs:element name="Identifier" type="xs:string"/>
	<xs:element name="Key" type="xs:string"/>
	<xs:element name="Title" type="xs:string"/>
	<xs:element name="Value" type="xs:string"/>

	<!-- =============================================================
		simple base types
	============================================================== -->
	<xs:element name="Hash">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Title"/>
				<xs:element ref="Description"/>
				<xs:element name="KeyDescriptions" type="KeyDescriptionsType"/>
				<xs:element name="ValueDescription" type="ValueDescriptionType"/>
				<xs:element name="Table" type="TableType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- =========================================================== -->
	<xs:complexType name="KeyDescriptionsType">
		<xs:sequence>
			<xs:element name="Attribute" type="AttributeType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="AttributeType">
		<xs:sequence>
			<xs:element ref="AttributeName"/>
			<xs:element ref="Title"/>
			<xs:element ref="Description"/>
			<xs:element ref="Documentation"/>
			<xs:element name="Values" type="ValuesType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="ValuesType">
		<xs:sequence>
			<xs:element name="Ordinal" type="OrdinalType"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="OrdinalType">
		<xs:sequence>
			<xs:element name="Classes" type="ClassesType"/>
		</xs:sequence>
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:anyURI">
					<xs:enumeration value="http://www.w3.org/TR/xmlschema-2/#string"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="length" type="xs:string" use="required"/>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="ClassesType">
		<xs:choice>
			<xs:element name="Value" type="ValueNominalType"/>
			<xs:element name="Value" type="ValueOrdinalType" maxOccurs="unbounded"/>
		</xs:choice>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="ValueNominalType">
		<xs:sequence>
			<xs:element ref="Identifier"/>
			<xs:element ref="Title"/>
			<xs:element ref="Abstract"/>
			<xs:element ref="Documentation"/>
			</xs:sequence>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="ValueOrdinalType">
		<xs:complexContent>
			<xs:extension base="ValueNominalType">
				<xs:attribute name="rank" type="xs:nonNegativeInteger" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="TableType">
		<xs:sequence>
			<xs:element name="Pair" type="PairType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="PairType">
		<xs:sequence>
			<xs:element ref="Key"/>
			<xs:element ref="Value"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================== -->
	<xs:complexType name="ValueDescriptionType">
		<xs:sequence>
			<xs:element name="Attribute" type="AttributeType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
