openregistry/obsolete/1.0/xrsFind_response.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Peter Schut (Agriculture & Agri-Food Canada) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xrs="http://www.opengis.net/xrs/1.0.0" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://www.opengis.net/xrs/1.0.0" elementFormDefault="qualified">
	<!-- ==============================================================-->
	<xs:include schemaLocation="xrsRegisterRequest.xsd"/>
	<xs:include schemaLocation="common/xrsCollectionType.xsd"/>
	<xs:include schemaLocation="common/xrsRootAttributeGroup.xsd"/>
	<!-- ==============================================================-->
	<xs:element name="QueryHits">
		<xs:annotation>
			<xs:documentation>Response to a Register request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Request">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="searchURL" type="xs:anyURI" use="required">
									<xs:annotation>
										<xs:documentation>The URL of the Search operation for this collection</xs:documentation>
									</xs:annotation>
								</xs:attribute>
								<xs:attribute name="hits">
									<xs:annotation>
										<xs:documentation>The maximum number of hits to be returned in the response.  Include if this parameter was included in the search request.</xs:documentation>
									</xs:annotation>
								</xs:attribute>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Response">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="xrs:Hit" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Information describing each match found among the collection of XML documents.  Include one "Hit" for each match  found.  Limit the number of "Hits" included in the response to the "hits" parameter in the search request.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="totalHits">
							<xs:annotation>
								<xs:documentation>The total number of hits found for this query in this collection</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="xrs:RootAttributeGroup"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Hit">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="xrs:Title">
					<xs:annotation>
						<xs:documentation>A human readable title for the XML document whose contents match the query.  This element is populated from the contents of an appropriate field from that XML document.  The choice of which field is used to populate this element for any particular collection is an implementation decision for the service instance.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="xrs:URL">
					<xs:annotation>
						<xs:documentation>The URL at which  the XML document whose contents match the query can be found.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Description">
					<xs:annotation>
						<xs:documentation>A human readable description for this XML document.  This element is populated from the contents of an appropriate field from that XML document.  The choice of which field is used to populate this element for any particular collection is an implementation decision for the service instance.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
