openregistry/obsolete/1.0/xrsRegister_response.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by Peter Schut (Agriculture & Agri-Food Canada) -->
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xrs="http://www.opengis.net/xrs/1.0.0" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="http://www.opengis.net/xrs/1.0.0" elementFormDefault="qualified">
	<!-- ==============================================================-->
	<xs:include schemaLocation="xrsRegisterRequest.xsd"/>
	<xs:include schemaLocation="common/xrsCollectionType.xsd"/>
	<xs:include schemaLocation="common/xrsRootAttributeGroup.xsd"/>
	<!-- ==============================================================-->
	<xs:element name="RegisterResponse">
		<xs:annotation>
			<xs:documentation>Response to a Register request.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Request">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="xrs:Register"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:choice>
					<xs:element name="Succeeded">
						<xs:annotation>
							<xs:documentation>Include when ResourceURL was successfully added to the Registry.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Collection" type="xrs:CollectionType"/>
								<xs:element name="Message" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Failed">
						<xs:annotation>
							<xs:documentation>Include when ResourceURL was not added to the Registry.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Collection" type="xrs:CollectionType"/>
								<xs:element name="Message" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:attributeGroup ref="xrs:RootAttributeGroup"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
